@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.calculator{
    border: 2px solid rgb(255, 255, 255);
    height: 60vh;
    width: 50vh;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #8f8585;

}
input{
    border: none;
    width: 43vh;
    font-size: 20px;
    border-radius: 9px;
    padding: 25px;
    margin: 10px;
    background-color: white;
    outline: #49a09d;
    text-align: right;
}
button{
    border: none;
    width: 90px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.equalBtn{
    background-color: orange;
}
.equalBtn:hover{
    background-color: orange;
}
button:hover{
    background-color: #000000;
    color: white;
}
