*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px auto;
    padding: 22px;
    border-radius: 16px;
    outline: none;
    border: none;
    font-size:23px;
    cursor: pointer;
    background-color: black;
    color: white;
}